.active {
    color: #111;
    border-bottom: 3px solid #f2f2f2;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-nav li a {
    margin: 0;
    font-size: 22px;
    font-family: Verdana;
}

.btn {
    background-color: #f2f2f2;
    color: black;
}

.btn:hover {
    filter: brightness(90%);
}

.artistAlbum {
    display: inline;
    border: 1px solid #333;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    width: 300px;
    height: 50px;
}

.form-control {
    vertical-align: top;
    display: inline;
}

.music-grid-header {
    font-size: 20px;
}

.center-container {
    margin: 0 auto;
    padding: 10px;
}

.general-contianer {
    display: inline-block;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0 10px 10px 10px;
}

.login-register-container {
    margin-top: 10px;
    width: 520px;
    border: 1px solid #f2f2f2
}

.login-register-sub-container {
    text-align: center;
    padding: 10px;
    border: 1px solid #f2f2f2;
}

.login-register {
    font-size: 44px;
    font-weight: bold;
}

.invalid, .valid {
    font-size: 20px;
    text-align: center;
}

.invalid {
    color: red;
}

.invalid:before {
    content: "✘ ";
}

.valid {
    color: green;
}

.valid:before {
    content: "✓ ";
}
